$dxyzML : 1px;
$midPL : 250px;
$midPT : 30px;
$midPR : 400px;
$midPB : 50px;
$WIDTH : 1190px;
$heHeight : 124px;
$heLH : 76px;
$aImgMT : 30px;
$marginRight : 20px;
$fontSize : 12px;
$nfontSize : 14px;
$LfontSize : 16px;
$lineHeight : 20px;
$slineHeight : 18px;
$navlineHeight : 40px;
$mainTH : 50px;
$mainTlineHeight : 46px;
$mainMPL : 100px;
$mainMPT : 26px;
$mainMPB : 40px;
$InputPL : 15px;
$InputWidth : 370px;
$InputsWidth : 150px;
$checkW : 11px;
$formSpanLH : 36px;
$formSpanML : 60px;
$mainMPBOTTOM : 98px;
$marginL : 29px;
$marginLt : 26px;
$inpMR : 8px;
$yesML : 190px;