body .demo-class .layui-layer-title{background:#c00; color:#fff; border: none;}
#people{
    background: #ededed;
}

#people .ph3{
    font: 14px/46px "";
    color: #6f6f6f;
}
#people .ph3 a{
    color: #666;
}
#people .ph3 .a3{
    color: #000000;
}
#people .left{
    width: 250px;
    font: 16px/45px "";
}
#people .left dl{
    width: 250px;
    font: 16px/45px "";
    background: #fff;
}
#people .left dt{
    color: #222222;
    width: 250px;
    padding: 0 25px;
    font: 16px/45px "";
}
#people .left dd{
    color: #5b5b5b;
    width: 250px;
    padding: 0 25px;
    font: 16px/45px "";
}
#people .left dd.peodd{
    /*background: #e14041;*/
    color: #5b5b5b;
}
#people .left dd:hover{
    width: 250px;
    background: #e14041;
    color: #fff;
}
#people .right{
    width: 925px;
    background: #fff;
    padding: 0 25px;
    height: 710px;
}
#people .right .rh3{
    font: 16px/45px "";
    color: #333333;
    /*padding: 0 26px;*/
}
#people .right .wcd{
    background: #f9f9f9;
    font: 14px/57px "";
    border: 1px solid #e7e7e7;
    width: 873px;
    margin: 20px 0;
}
#people .right .wcd .rsp1{
    margin-left: 18px;
    color: #333333;
}
#people .right form p{
    height: 35px;
}
#people .right form p .fsp1{
    margin-left: 48px;
}
#people .right form p .fsp4{
    margin-left: 62px;
}
#people .right form p .fsp3{
    margin-left: 33px;
}
#people .right form .fl{
    width: 380px;
}
#people .right form p .finp{
    height: 28px;
}
#people .right .back{
    cursor: pointer;
    position: relative;
    left: 112px;
    width: 75px;
    height: 30px;
    background: #e14041;
}
#people .right #baocun{
    cursor: pointer;
    position: relative;
    left: 135px;
    top: -85px;
    /*background: #e14041;*/
    color: #fff;
}
#people .vipr{
    width: 925px;
}
#people .vipr .top{
    padding:27px 25px 24px;
    background: #fff;
    margin-bottom: 15px;
}
#people .vipr .top .tc{
    width: 255px;
    border-right: 1px solid #f2f2f2;
    margin-right: 24px;
}
#people .vipr .top .tc h3{
    color: #555555;
    margin: 0;
}
#people .vipr .top .tc .th31{
    margin-top: 17px;
    font-size: 14px;
}
#people .vipr .top .tc .th31 a{
    color: #1e599f;
}
#people .vipr .top .tc .th32{
    font-size: 14px;
}
#people .vipr .top .tr{

}
#people .vipr .top .tr a{
    color: #1e599f;
    margin-left: 35px;
}
#people .vipr .middle{
    background: #fff;
    margin-bottom: 15px;
    padding: 0 25px 22px;
}
#people .vipr .middle .mh31{
    font: 14px/45px "";
    margin-bottom: 20px;
}
#people .vipr .middle table{
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    background: #fafafa;
    width: 100%;
}
#people .vipr .middle table tr{

}
#people .vipr .middle table tr td{
    font:14px/34px "";
    text-align: center;
    color: #555555;
}
#people .vipr .middle .mdiv{
    width: 100%;
    font:14px/34px "";
    text-align: center;
    color: #555555;
}
#people .shopr{
    width: 925px;
}
#people .shopr .shoptop{
    margin-bottom: 15px;
    padding: 0 20px;
    width: 100%;
    background: #fff;
    height: 70px;
    font : 14px/44px "";
    color: #000;
}
#people .shopr .shoptop span{
    color: #333333;
}
#people .shopr .shoptop span a{
    color: #9a888f;
}
#people .shopr .shoptop span:nth-child(1) {
    color: #e14041;
}
#people .shopr #shopmid{
    font: 14px/46px "";
    padding: 10px 20px;
    height: 46px;
    width: 100%;
    background: #fff;
    margin-bottom: 15px;
}
#people .shopr #shopmid .ulisp{
    color: #e14041;
}

#people .shopr .shopbot{

}
#people .shopr .shopbot #box{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
#people .shopr .shopbot #box img{
    width: 220px;
    -webkit-columns-count:4;
    -moz-columns-count:4;
    -ms-columns-count:4;
    -o-columns-count:4;
    columns-count:4;
    /*flex: 1;*/
}
