$WIDTH : 1190px;
$marginRight : 20px;
$fontSize : 12px;
$nfontSize : 14px;
$lineHeight : 20px;
$slineHeight : 18px;
$navlineHeight : 40px;
$divlineHeight : 142px;
$inpWidth : 340px;
$divWidth : 370px;
$divHeight : 38px;
$navHeight : 42px;
$width : 10px;
$marTop : 54px;
$marRig : 146px;
$navHeight : 38px;
$navliWidth : 196px;
$lunImgHeight : 440px;
$liHeight : 40px;
$liPad : 50px;
$zero : 0;
$posLeft : 180px;
$posTop : 13px;
$topPadd : 10px;
$ma2lWidth : 230px;
$ma2lHeight : 520px;
$m2liWidth : 78px;
$m2liHeight : 28px;
$m2liMarLe : 35px;
$m2MT : 20px;
$m2rliW : 230px;
$m2rliH : 340px;
$ma2RW : 960px;
$likeliW : 161px;
$likeliH : 260px;
$sevH : 160px;
$sevPT : 80px;
$sevPB : 80px;
$sulW :237px;
$sulH :51px;
$spanW: 120px;
$imgML : 35px;
$imgMR : 10px;
$dlWidth : 60px;
$footMT : 19px;
$mesHeight : 96px;
$paddLeft : 126px;
$paddtop : 50px;
$marginR : 23px;



